<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DAILY DIARY</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY DIARY</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbaar-a" id="home"><a href="/">HOME</a></li>
          <li class="navbaar-a" id="about"><a href="/about">ABOUT US</a></li>
          <li class="navbaar-a" id="contact"><a href="/contact">CONTACT US</a></li>
          <li class="navbaar-a" id="contact"><a href="/compose">👑 Make Yours Blog 👑</a></li>
        </ul>

    </div>
  </nav>

  <body>
    <div class="container">
